extends layout

block content
  div.container
      div.card
          div.card-header
              div.backdrop
              div.card-title Pizza Hut
              img.card-header-image(src='https://www.recipetineats.com/wp-content/uploads/2020/05/Pepperoni-Pizza_5-SQjpg.jpg')
          div.card-body
              div.edit
                  a(href='#') Edit
              div.card-details
                  div.category Italian
                  div.rating
                      span &#X2b50;
                      span &#X2b50;
              div.description
                  //lmao
                  |LMAOOOOOOOOOOOOOOOOOOOO
                  |OOOOOOOOOOOOOOOOOOOOOOO
                  |OOOOOOOOOOOOOOOOOOOOOOO
                  |OOOOOOOOOOOOOOOOOOOOOOO
                  |OOOOOOOOOOOOOOOOOOOOOOO
                  |OOOOOOOOOOOOOOOOOOOOOOO
                  |OOOOOOOOOOOOOOOOOOOOOOO
