doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
      img(src='https://sdaho.org/wp-content/uploads/2017/03/fdafeat-696x380.jpg')
    block content
