doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
      img(src='https://www.google.com/url?sa=i&url=https%3A%2F%2Fmdic.org%2Fproject%2Fenrichment-in-silico-clinical-trial-project%2Ffda-logo%2F&psig=AOvVaw1ARKJi8GvTdBnmBL451Ept&ust=1638932664659000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLDRqYva0PQCFQAAAAAdAAAAABAD')
    block content
